{% extends 'layout_simgle.html' %}

{% block content %}
    <style>
        .myform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 300px;

        }
        .form-groups{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-groups span{
            width: 100px;
            font-weight: bold;
            font-size: larger;
        }

    </style>
    <div class="myform">
        <form method="post" novalidate>
           {% csrf_token %}
            {% for field in form %}
             <div class="form-groups">
              <span>{{ field.label }}:</span>{{ field }}<span style="color: red;">{{ field.errors.0 }}</span>
            </div>
            {% endfor %}



             <div class="form-groups" style="justify-content: space-between">
               <button type="submit" style="width: 100px;" class="btn btn-default">注册</button>
               <button type="reset" style="width: 100px;" class="btn btn-default">重置</button>
          </div>
        </form>
    </div>
{% endblock %}